<div class="container">
  <div [hidden]="submitted">
    <h2>Enter your Details:</h2>
    <form (ngSubmit)="onClickMe()" #LogForm="ngForm">
      <div class="form-group">
        <b>Name: </b><br>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" minlength="3"
          maxlength="3" #name="ngModel" placeholder="Enter Valid Name">
        <span style="color:red;" class="help-block" *ngIf="!name.valid && name.touched">Please Enter your Name</span>
      </div>
      <div class="form-group">
        <b>Mobile: </b><br>
        <input type="tel" class="form-control" id="mobile" required [(ngModel)]="model.mobile" name="mobile" minlength="10"
          maxlength="10" #mobile="ngModel" placeholder="Enter Valid Mobile Number" pattern="^(\+\d{1,3}[- ]?)?\d{10}$">
        <span style="color:red;" class="help-block" *ngIf="!mobile.valid && mobile.touched">Please Enter valid
          Mobile number</span>
      </div>
      <div class="form-group">
        <b>Email: </b><br>
        <input type="email" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" size="30"
          required [(ngModel)]="model.email" name="email" #email="ngModel" placeholder="Enter Valid Email ID" [email]="true"
          autocomplete="off">
        <span style="color:red;" class="help-block" *ngIf="!email.valid && email.touched">Please Enter valid Email
          ID</span>
      </div>
      <div class="form-group">
        <b>Location: </b><br>
        <select class="form-control" id="Location" [(ngModel)]="model.Location" name="Location">
          <option *ngFor="let Loc of Location" [value]="Loc">{{Loc}}</option>
        </select>
      </div>
    </form>
    <br>
    <button (click)="onClickMe()" type="button" class="btn btn-success" [disabled]="!LogForm.form.valid"><b>Submit</b></button>
  </div>
</div>


<div [hidden]="!submitted">
  <div class="container">

    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3> {{clickMessage}} </h3>
        </div>
        <div class="panel-body"><b>
            <h4><b>Here is your submitted form details:</b></h4>
            <br>
            Name: {{ model.name }}<br>
            Mobile: {{ model.mobile }}<br>
            Email: {{ model.email }}<br>
            Location: {{ model.Location }}<br>
          </b>
        </div>
      </div>
    </div>
    <br>
    <button class="btn btn-primary" type="button" (click)="submitted=false">Change</button>

  </div>
</div>